<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script th:src="@{/main.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />

    <head>
<body ng-app="EmployeeManagement" ng-controller="EmployeeController">
<h3>
    Web w/ Angular
</h3>
<form ng-submit="submitEmployee()">




    <table border="0">

        <tr>
            <td>Generation Key</td>
            <td><input type="text" ng-model="employeeForm.empFirstName" /></td>
        </tr>

        <td colspan="2">
            <input type="submit" value="Generate" class="blue-button" />
        </td>

        <tr>
            <td>Validation Key</td>
            <td><input type="text" ng-model="employeeForm.empSecondName"  /></td>
        </tr>
        <tr>

        </tr>

    </table>


</form>
<br>



<table border="2">
    <tr>
        <th>ID</th>
        <th>Generated Key</th>
        <th>Validation Key</th>

    </tr>



    <tr ng-repeat="employee in employees">
        <td> {{ employee.empId }}</td>
        <td> {{ employee.empFirstName }}</td>
        <td >{{ employee.empSecondName }}</td>

    </tr>
</table>




</body>
</html>